/* Subreply CSS
 * Copyright 2022 Dang Hoang Tuan (Tsuki)
 * This style is under the MIT license
 * Font used: Route 159
 * https://dotcolon.net/font/route159/
 */

html {
  --super: 8px;
  --tiny: 11px;
  --small: 13px;
  --regular: 14px;
  --radius: 6px;
  --d: 0.2s;
  --white: white;
  --whitesmoke: #f0f0f0;
  --redsmoke: #fff0f0;
  --gainsboro: #e0e0e0;
  --silver: #c0c0c0;
  --gray: #808080;
  --black: black;
  --accent: #4060e0;
  --orange: #FF4000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
::-moz-placeholder {
  color: #1f1f1f;
}
::-webkit-input-placeholder {
  color: var(--gray);
}
@media (prefers-color-scheme: dark) {
  html {
    --white: black;
    --whitesmoke: #181818;
    --redsmoke: #281818;
    --gainsboro: #282828;
    --silver: #404040;
    --gray: #808080;
    --black: white;
    --blockquote-color: white;
    --accent: #6080e0;
  }
  ::-moz-placeholder {
    color: #eeeeee;
  }
}
body {
  background-color: var(--white);
  color: var(--black);
  cursor: default;
}
a {
	background-color: var(--white);
	border-radius: var(--radius);
	color: var(--black);
	display: block;
	height: 20px;
	padding: 5px 0;
	transition: background-color var(--d);
  /*
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
  transition: color var(--d);
  */
}
b, i, u {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
form, input, label {
  display: block;
}
body, label, input, select, textarea {
  font-family: "Route 159", sans-serif;
  font-size: var(--regular);
  line-height: 20px;
}
label {
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--small);
}
label i {
  color: var(--gray);
}
sup {
  line-height: 0;
}
input, select, textarea {
 /* -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;*/
  background-color: var(--whitesmoke);
  border-radius: var(--radius);
  border: 0 none;
  color: var(--black);
  display: initial;
  font-weight: normal;
}
input:focus, select:focus, textarea:focus {
  outline: 0 none;
}
input[type=text], input[type=password], input[type=email], input[type=url], select, textarea {
  overflow: hidden;
  /*padding: 5px 10px;
  padding-right: 5px;*/
  resize: none;
  width: calc(100% - 15px);
}
/* Use the same style for both input[type=submit] and button elements */
input[type=submit] {
  cursor: pointer;
  padding: 5px 15px;
}
input[type=submit]:hover {
  background-color: var(--gainsboro);
}
button {
  cursor: pointer;
  padding: 5px 15px;
}
svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
svg path {
  fill: none;
  stroke: var(--black);
}
table {
  margin: 10px 0;
  width: 100%;
}
table th {
  color: var(--black);
  font-size: var(--small);
  font-weight: normal;
  padding-bottom: 2px;
}
table td {
  border-top: var(--gray) 1px solid;
  padding: 2px 0;
}
table td:last-child {
  padding-bottom: 0;
}
table a {
  color: var(--accent);
}
table a:hover {
  color: var(--gray);
}
.links a {
  background-color: var(--white);
  border-radius: var(--radius);
  color: var(--black);
  display: block;
  height: 20px;
  padding: 5px 0;
  transition: background-color var(--d);
}
.links a:hover {
  background-color: var(--whitesmoke);
}
.reply {
  margin: 10px 0;
  overflow: hidden;
}
.reply .placeholder {
  background: var(--whitesmoke);
  background: linear-gradient(90deg, var(--whitesmoke) 0%, var(--white) 100%);
  border-radius: var(--radius);
  color: var(--gray);
  padding: 5px 10px;
}
.reply label {
  background-color: var(--whitesmoke);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  float: right;
  padding: 7px 10px;
  padding-left: 5px;
  height: 16px;
  width: 16px;
}
.reply input[type="text"] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: left;
  width: calc(100% - 46px);
}
@media (max-width: 677px) {
  .container {
    grid-template-columns: auto 40px 504px auto;
  }
  .links i {
    display: none;
  }
}
@media (max-width: 573px) {
  .container {
    grid-template-columns: 0 40px calc(100% - 70px) 0;
  }
}

/* Fonts */
@font-face {
  font-family: "Route 159";
  font-style: normal;
  font-weight: normal;
  src: url(https://files.catbox.moe/gt6un3.woff) format("woff");
}
@font-face {
  font-family: "Route 159";
  font-style: normal;
  font-weight: bold;
  src: url(https://files.catbox.moe/outwck.woff) format("woff");
}

/* mailto:/sms:/tel: links emojis 
 * Stolen from https://watercss.kognise.dev/
 */
a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

a[href^='sms']::before {
  content: '💬 ';
}

/* Nice blockquotes from https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: var(--white);
  border-left: 10px solid var(--accent);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--accent);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Get radios and checkboxes to work */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* CSS code block stolen from https://adis.ca/entry/2011/pretty-code-block-in-css/ */
pre {
    font-size: 90%;
    line-height: 1.2em;
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline; 
    color: #555555;
    background: #f4f4f4;
}
